## Books Recommendation System using Clustering | Collaborative Based

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [2]:
books = pd.read_csv('archive/BX-Books.csv', sep=';', on_bad_lines='skip', encoding='latin-1', dtype='unicode')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.shape

(271360, 8)

In [5]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]

In [7]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [8]:
books.rename(columns={"Book-Title":'title',
                      'Book-Author':'author',
                     "Year-Of-Publication":'year',
                     "Publisher":"publisher",
                     "Image-URL-L":"image_url"},inplace=True)

In [9]:
books.head()

,ISBN,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [10]:
users = pd.read_csv('archive/BX-Users.csv', sep=";", on_bad_lines='skip', encoding='latin-1', dtype='unicode')

In [11]:
users.head()

  User-ID                            Location  Age
0       1                  nyc, new york, usa  NaN
1       2           stockton, california, usa   18
2       3     moscow, yukon territory, russia  NaN
3       4           porto, v.n.gaia, portugal   17
4       5  farnborough, hants, united kingdom  NaN

In [12]:
users.shape

(278858, 3)

In [13]:
users.rename(columns={"User-ID":'user_id',
                      'Location':'location',
                     "Age":'age'},inplace=True)

In [14]:
users.head()

  user_id                            location  age
0       1                  nyc, new york, usa  NaN
1       2           stockton, california, usa   18
2       3     moscow, yukon territory, russia  NaN
3       4           porto, v.n.gaia, portugal   17
4       5  farnborough, hants, united kingdom  NaN

In [15]:
ratings = pd.read_csv('archive/BX-Book-Ratings.csv', sep=";", on_bad_lines='skip', encoding='latin-1', dtype='unicode')

In [16]:
ratings.head()

  User-ID        ISBN Book-Rating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [17]:
ratings.rename(columns={"User-ID":'user_id',
                      'Book-Rating':'rating'},inplace=True)

In [18]:
ratings.head()

  user_id        ISBN rating
0  276725  034545104X      0
1  276726  0155061224      5
2  276727  0446520802      0
3  276729  052165615X      3
4  276729  0521795028      6

In [19]:
ratings.shape

(1149780, 3)

In [20]:
print(books.shape, users.shape, ratings.shape, sep='\n')

(271360, 6)
(278858, 3)
(1149780, 3)

In [21]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [22]:
x = ratings['user_id'].value_counts() > 100
x

user_id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [23]:
y= x[x].index
y

Index(['11676', '198711', '153662', '98391', '35859', '212898', '278418',
       '76352', '110973', '235105',
       ...
       '238186', '99441', '187410', '262070', '70183', '40553', '39345',
       '266283', '189666', '140879'],
      dtype='object', name='user_id', length=1825)

In [24]:
ratings = ratings[ratings['user_id'].isin(y)]
ratings.head()

    user_id        ISBN rating
412  276925  0006511929      0
413  276925  002542730X     10
414  276925  0060520507      0
415  276925  0060930934      0
416  276925  0060951303      0

In [25]:
ratings_with_books = ratings.merge(books, on='ISBN')
ratings_with_books

,user_id,ISBN,rating,title,author,year,publisher,image_url
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
...,...,...,...,...,...,...,...,...
604849,276680,089587167X,7,Something Blue,Jean Christopher Spaugh,1997,John F. Blair Publisher,http://images.amazon.com/images/P/089587167X.0...
604850,276680,1402201435,4,The One True Ocean,Sarah Beth Martin,2003,Sourcebooks Landmark,http://images.amazon.com/images/P/1402201435.0...
604851,276680,1564407284,0,"The Old Sturbridge Village Cookbook, 2nd : Aut...",Caroline Sloat,1995,Globe Pequot,http://images.amazon.com/images/P/1564407284.0...
604852,276680,1582343594,0,City of Masks : A Cree Black Novel,Daniel Hecht,2004,Bloomsbury USA,http://images.amazon.com/images/P/1582343594.0...
604853,276680,1888173408,7,Fairy Tale (Common Reader Editions),Alice Thomas Ellis,2001,Akadine Press,http://images.amazon.com/images/P/1888173408.0...

In [26]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()
number_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       3
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [27]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)
number_rating.head()

                                               title  num_of_rating
0   A Light in the Storm: The Civil War Diary of ...              3
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Beyond IBM: Leadership Marketing and Finance ...              1
4   Clifford Visita El Hospital (Clifford El Gran...              1

In [28]:
final_rating = ratings_with_books.merge(number_rating, on='title')
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [29]:
final_rating.shape

(604854, 9)

In [30]:
final_rating = final_rating[final_rating['num_of_rating'] >= 50]
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [31]:
final_rating.shape

(100426, 9)

In [32]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)
final_rating.shape

(97962, 9)

In [33]:
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values='rating', aggfunc='first')
# book_pivot.columns = book_pivot.columns.droplevel()
# book_pivot = book_pivot.reset_index()
# book_pivot.columns = book_pivot.columns.tolist()
book_pivot

user_id,100088,100264,10030,100459,100578,100644,100782,100822,100846,100906,...,98686,98723,98741,98758,98787,98904,9908,99227,99441,99955
title,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,6,NaN,NaN,NaN
1st to Die: A Novel,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204 Rosewood Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,...,NaN,0,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN

In [35]:
book_pivot.fillna(0, inplace=True)

In [36]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [37]:
model.fit(book_pivot)

NearestNeighbors(algorithm='brute')

In [38]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6 )

C:\Users\surya\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [39]:
distance

array([[ 0.        , 36.0970913 , 36.27671429, 36.61966685, 37.09447398,
        37.13488926]])

In [40]:
suggestion

array([[ 237, 1020,  335,  620,  561,  654]], dtype=int64)

In [41]:
book_pivot.iloc[241,:]

user_id
100088    0
100264    0
10030     0
100459    0
100578    0
         ..
98904     0
9908      0
99227     0
99441     0
99955     0
Name: Dream Country, Length: 1794, dtype: object

In [42]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Dr. Atkins' New Diet Revolution',
       'Tom Clancy's Op-Center: Games of State (Tom Clancy's Op Center (Paperback))',
       'Ground Zero and Beyond',
       'Ruthless.Com (Tom Clancy's Power Plays (Paperback))',
       'Personal Injuries', 'Shadows'],
      dtype='object', name='title')

In [43]:
book_names = book_pivot.index

In [44]:
book_names[2]

'2010: Odyssey Two'

In [45]:
np.where(book_pivot.index == '4 Blondes')[0][0]

6

In [46]:
ids = np.where(final_rating['title'] == "Harry Potter and the Chamber of Secrets (Book 2)")[0][0]
final_rating.iloc[ids]['image_url']

'http://images.amazon.com/images/P/0439064872.01.LZZZZZZZ.jpg'

In [47]:
book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])
book_name[0]

Index(['Dr. Atkins' New Diet Revolution',
       'Tom Clancy's Op-Center: Games of State (Tom Clancy's Op Center (Paperback))',
       'Ground Zero and Beyond',
       'Ruthless.Com (Tom Clancy's Power Plays (Paperback))',
       'Personal Injuries', 'Shadows'],
      dtype='object', name='title')

In [48]:
ids_index = []
for name in book_name[0]: 
    ids = np.where(final_rating['title'] == name)[0][0]
    ids_index.append(ids)
for idx in ids_index:
    url = final_rating.iloc[idx]['image_url']
    print(url)

http://images.amazon.com/images/P/0380727293.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0425151875.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/1401088945.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0425165701.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0374281947.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553560271.01.LZZZZZZZ.jpg

In [49]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_names,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

In [50]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [51]:
book_name = "Ground Zero and Beyond"
recommend_book(book_name)

You searched 'Ground Zero and Beyond'

The suggestion books are:

Tom Clancy's Op-Center: Games of State (Tom Clancy's Op Center (Paperback))
Ruthless.Com (Tom Clancy's Power Plays (Paperback))
Personal Injuries
On Wings of Eagles
The Road to Omaha

C:\Users\surya\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [52]:
book_names

Index(['1984', '1st to Die: A Novel', '2010: Odyssey Two', '204 Rosewood Lane',
       '24 Hours', '2nd Chance', '4 Blondes', '84 Charing Cross Road',
       'A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper))',
       'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
       ...
       'Without Remorse', 'Wizard and Glass (The Dark Tower, Book 4)',
       'Women Who Run with the Wolves',
       'Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players',
       'Wuthering Heights', 'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=1094)

In [55]:
list = []
for i in book_names:
    list.append(i)

In [56]:
list

['1984',
 '1st to Die: A Novel',
 '2010: Odyssey Two',
 '204 Rosewood Lane',
 '24 Hours',
 '2nd Chance',
 '4 Blondes',
 '84 Charing Cross Road',
 'A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper))',
 'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
 'A Bend in the Road',
 'A Case of Need',
 'A Child Called \\It\\": One Child\'s Courage to Survive"',
 'A Civil Action',
 'A Confederacy of Dunces (Evergreen Book)',
 'A Cry In The Night',
 'A Dangerous Fortune',
 'A Darkness More Than Night',
 'A Day Late and a Dollar Short',
 'A Fine Balance',
 'A Girl Named Zippy: Growing Up Small in Mooreland Indiana (Today Show Book Club #3)',
 'A Great Deliverance',
 'A Heartbreaking Work of Staggering Genius',
 'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
 'A Knight in Shining Armor',
 'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
 'A Light in the Window (The Mitford Years)',
 'A Man Named Dave: A Story of Triumph and Forgiveness',
 'A Man in Full',
 'A Map of the World',
 'A Painted House',
 'A Patchwork Planet',
 'A Prayer for Owen Meany',
 'A Separate Peace',
 'A Simple Plan',
 'A Thin Dark Line (Mysteries &amp; Horror)',
 "A Thousand Acres (Ballantine Reader's Circle)",
 'A Time to Kill',
 "A Virtuous Woman (Oprah's Book Club (Paperback))",
 'A Walk in the Woods: Rediscovering America on the Appalachian Trail (Official Guides to the Appalachian Trail)',
 'A Walk to Remember',
 'A Widow for One Year',
 'A Wrinkle In Time',
 'A Wrinkle in Time',
 'A Year in Provence',
 "ANGELA'S ASHES",
 'Abduction',
 'About a Boy',
 'Absolute Power',
 'Acceptable Risk',
 'Accident',
 'After All These Years',
 'After Dark',
 "Ahab's Wife: Or, The Star-Gazer: A Novel",
 'Airframe',
 'Alaska',
 'Alias Grace',
 'All Around the Town',
 'All Creatures Great and Small',
 'All I Really Need to Know',
 'All That Remains (Kay Scarpetta Mysteries (Paperback))',
 'All the Pretty Horses (The Border Trilogy, Vol 1)',
 'Along Came a Spider (Alex Cross Novels)',
 'American Gods',
 'American Psycho (Vintage Contemporaries)',
 'Amy and Isabelle : A novel',
 'An Instance of the Fingerpost',
 'And Ladies of the Club',
 'And Then There Were None',
 'And Then You Die',
 "Angela's Ashes (MMP) : A Memoir",
 "Angela's Ashes: A Memoir",
 'Angels',
 'Angels &amp; Demons',
 'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
 'Animal Dreams',
 'Animal Farm',
 'Animal Husbandry',
 'Anne Frank: The Diary of a Young Girl',
 'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Anne of the Island',
 "Are You There God?  It's Me, Margaret",
 'Artemis Fowl (Artemis Fowl, Book 1)',
 'Ashes to Ashes',
 'At Home in Mitford (The Mitford Years)',
 'At Risk',
 'Atlas Shrugged',
 'Atonement : A Novel',
 'Awakening',
 'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
 'Back Roads',
 'Bag of Bones',
 'Balzac and the Little Chinese Seamstress : A Novel',
 'Basket Case',
 'Bastard Out of Carolina',
 'Beach House',
 'Beach Music',
 'Bee Season: A Novel',
 'Before I Say Good-Bye',
 'Bel Canto: A Novel',
 'Belinda',
 'Beloved',
 'Beloved (Plume Contemporary Fiction)',
 'Betrayal in Death',
 'Between Friends',
 'Beyond Eden',
 "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)",
 "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
 'Big Trouble',
 'Billy Straight : A Novel',
 'Birthright',
 'Bittersweet',
 'Black Friday',
 'Black House',
 'Black Notice',
 'Black and Blue',
 'Black and Blue : A Novel',
 'Bleachers',
 'Blessings',
 'Blindsight',
 'Blood Work',
 'Bloody Bones (Anita Blake Vampire Hunter (Paperback))',
 'Blow Fly: A Scarpetta Novel',
 'Blue Diary',
 'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
 'Body of Lies',
 'Border Music',
 'Born in Shame',
 "Boy's Life",
 'Brave New World',
 'Brazen Virtue',
 'Breath, Eyes, Memory',
 'Breathing Lessons',
 'Bridge to Terabithia',
 'Bridget Jones : The Edge of Reason',
 "Bridget Jones's Diary",
 'Bridget Jones: The Edge of Reason',
 'By the Light of the Moon',
 'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))',
 "CAT'S EYE",
 'Call of the Wild',
 'Can You Keep a Secret?',
 'Carnal Innocence',
 'Carolina Moon',
 'Carrie',
 'Cat &amp; Mouse (Alex Cross Novels)',
 "Cat's Eye",
 'Catch 22',
 'Catch Me If You Can: The True Story of a Real Fake',
 'Catering to Nobody',
 'Cause Celeb',
 'Cause of Death',
 'Certain Prey',
 'Changes',
 'Charlie and the Chocolate Factory',
 "Charlotte's Web",
 "Charlotte's Web (Trophy Newbery)",
 'Charming Billy',
 'Chicken Soup for the Soul (Chicken Soup for the Soul)',
 'Chicken Soup for the Teenage Soul (Chicken Soup for the Soul)',
 "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
 'Chocolat',
 'Choke',
 'Chosen Prey',
 'Christine',
 'Christmas Box (Christmas Box Trilogy)',
 'Chromosome 6',
 'Circle of Friends',
 'City of Bones',
 'Clear and Present Danger',
 'Clear and Present Danger (Jack Ryan Novels)',
 'Cloud Nine',
 'Coast Road: A Novel',
 'Cold Fire',
 'Cold Mountain',
 'Cold Mountain : A Novel',
 'Cold Sassy Tree',
 'Colony',
 'Coming Home',
 'Confessions of a Shopaholic (Summer Display Opportunity)',
 'Confessions of an Ugly Stepsister : A Novel',
 'Congo',
 'Considering Kate (The Stanislaskis) (Silhouette Special Edition)',
 'Contact',
 'Contagion',
 'Coraline',
 "Cordina's Crown Jewel",
 "Corelli's Mandolin : A Novel",
 'Couplehood',
 'Courting Trouble',
 'Cradle and All',
 'Crazy for You',
 'Critical Judgment',
 'Critical Mass',
 'Crossings',
 'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))',
 'Cry Wolf',
 'Cry to Heaven',
 'Cryptonomicon',
 'Cujo',
 'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))',
 'Daddy',
 "Daddy's Little Girl",
 'Daisy Fay and the Miracle Man',
 'Dance upon the Air (Three Sisters Island Trilogy)',
 'Dances With Wolves',
 'Dangerous',
 'Dark Angel',
 'Dark Lady',
 'Dark Paradise',
 'Dark Rivers of the Heart',
 'Darkfall',
 'Darkness',
 'Daughter of Fortune: A Novel',
 'Dawn (Cutler)',
 'Dead Aim',
 'Dead Run',
 'Dead Sleep',
 'Deadly Decisions',
 'Death du Jour',
 'Debt of Honor (Jack Ryan Novels)',
 'Deception Point',
 'Deception on His Mind',
 'Deck the Halls (Holiday Classics)',
 'Degree of Guilt',
 'Deja Dead',
 'Desperation',
 'Devices and Desires',
 'Different Seasons',
 'Digital Fortress : A Thriller',
 'Disclosure',
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 'Dolores Claiborne',
 "Don't Stand Too Close to a Naked Man",
 "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
 'Doomsday Book',
 "Dr. Atkins' New Diet Revolution",
 'Dr. Death (Alex Delaware Novels (Paperback))',
 'Dragon Tears',
 'Dragonfly in Amber',
 'Dream Country',
 'Dreamcatcher',
 'Drowning Ruth',
 "Drowning Ruth (Oprah's Book Club)",
 'Drums of Autumn',
 "Dude, Where's My Country?",
 'Dune (Remembering Tomorrow)',
 'Dune Messiah (Dune Chronicles, Book 2)',
 'Dust to Dust',
 'Dying for Chocolate (Culinary Mysteries (Paperback))',
 'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
 "East of Eden (Oprah's Book Club)",
 'Easy Prey',
 'Eats, Shoots &amp; Leaves: The Zero Tolerance Approach to Punctuation',
 'Echoes',
 "Einstein's Dreams",
 'Eleventh Hour: An FBI Thriller (FBI Thriller (Jove Paperback))',
 'Ellen Foster',
 'Embraced by the Light',
 'Empire Falls',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 'Engaging The Enemy',
 'Envy',
 'Eternity',
 'Evening Class',
 'Every Breath You Take : A True Story of Obsession, Revenge, and Murder',
 "Everything's Eventual : 14 Dark Tales",
 'Exclusive',
 'Executive Orders (Jack Ryan Novels)',
 'Eyes of Prey',
 'Eyes of a Child',
 'Eyes of the Dragon',
 'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
 'FIRST WIVES CLUB',
 'FORREST GUMP (Movie Tie in)',
 'Face the Fire (Three Sisters Island Trilogy)',
 'Fahrenheit 451',
 'Faking It',
 'Fall On Your Knees (Oprah #45)',
 'Falling Angels',
 'False Memory',
 'Family Album',
 'Fast Food Nation: The Dark Side of the All-American Meal',
 'Fast Women',
 'Fat Tuesday',
 'Fatal Cure',
 'Fatal Voyage',
 'Fatherhood',
 'Fear Nothing',
 'Feast of All Saints',
 'Final Target',
 'Fine Things',
 'Fingersmith',
 'Firefly Summer',
 'Firestarter',
 'Five Days in Paris',
 'Five Quarters of the Orange',
 'Flesh and Blood',
 'Flowers for Algernon (Bantam Classic)',
 'Fluke : Or, I Know Why the Winged Whale Sings',
 'Forever... : A Novel of Good and Evil, Love and Hope',
 "Fortune's Rocks : A Novel",
 "Fortune's Rocks: A Novel",
 "Foucault's Pendulum",
 'Four Blind Mice',
 'Four Blondes',
 'Four Past Midnight',
 'Four To Score (A Stephanie Plum Novel)',
 'Fried Green Tomatoes at the Whistle Stop Cafe',
 "From Potter's Field",
 'From a Buick 8 : A Novel',
 'From the Corner of His Eye',
 'Full Circle',
 "Full House (Janet Evanovich's Full Series)",
 "Full Speed (Janet Evanovich's Full Series)",
 "Full Tilt (Janet Evanovich's Full Series)",
 'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
 'GARDEN OF SHADOWS (Dollanger Saga (Paperback))',
 'Geek Love',
 'Genuine Lies',
 "Gerald's Game",
 'Get Shorty',
 'Girl in Hyacinth Blue',
 'Girl with a Pearl Earring',
 'Girl, Interrupted',
 'Gone But Not Forgotten',
 'Gone for Good',
 'Gone with the Wind',
 'Good Harbor: A Novel',
 'Good Omens',
 'Good in Bed',
 'Gorky Park',
 'Grand Avenue',
 'Granny Dan',
 'Ground Zero and Beyond',
 'Guardian',
 'Guardian Angel',
 'Guilty Pleasures (Anita Blake Vampire Hunter (Paperback))',
 'Guilty as Sin',
 'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))',
 'Hannibal',
 'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'Harmful Intent',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Harry Potter and the Goblet of Fire (Book 4)',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 "Harry Potter and the Sorcerer's Stone (Book 1)",
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'Harvest',
 'Haunted',
 "He Sees You When You're Sleeping : A Novel",
 'Heart of the Sea (Irish Trilogy)',
 'Heartbeat',
 'Heartbreaker',
 'Hearts In Atlantis',
 'Hearts in Atlantis',
 'Heaven and Earth (Three Sisters Island Trilogy)',
 'Hemlock Bay',
 'Here on Earth',
 'Hide &amp; Seek',
 'Hideaway',
 'High Fidelity',
 'High Five (A Stephanie Plum Novel)',
 'High Maintenance',
 'Holding the Dream (Dream Trilogy)',
 'Holes (Yearling Newbery)',
 'Homecoming',
 'Homeport',
 "Hornet's Nest",
 'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'House of Sand and Fog',
 'How Stella Got Her Groove Back',
 'How to Be Good',
 'How to Make an American Quilt',
 'I Capture the Castle',
 'I Is for Innocent',
 'I Know This Much Is True',
 "I Know This Much Is True (Oprah's Book Club)",
 'I Know Why the Caged Bird Sings',
 "I'll Be Seeing You",
 "I'll Take Manhattan",
 'Icebound',
 'Icy Sparks',
 'If Only It Were True',
 'If Tomorrow Comes',
 'Impulse',
 'In Her Shoes : A Novel',
 'In Pursuit of the Proper Sinner',
 'In a Sunburned Country',
 'Inner Harbor (Quinn Brothers (Paperback))',
 'Insomnia',
 'Intensity',
 'Interview with the Vampire',
 'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
 'Into the Wild',
 'Invasion',
 'Irish Hearts',
 'Irish Rebel (Special Edition, 1328)',
 'Ishmael: An Adventure of the Mind and Spirit',
 'Island of the Blue Dolphins',
 'Island of the Blue Dolphins (Laurel Leaf Books)',
 'Isle of Dogs',
 'It',
 'It Was on Fire When I Lay Down on It',
 "It's Always Something",
 'J Is for Judgment',
 'Jack &amp; Jill (Alex Cross Novels)',
 'Jackdaws',
 'Jacob Have I Loved',
 'Jemima J: A Novel About Ugly Ducklings and Swans',
 'Jewel',
 "Jewel (Oprah's Book Club)",
 'Jewels',
 'Jewels of the Sun (Irish Trilogy)',
 'Jonathan Livingston Seagull',
 'Journey',
 'Jurassic Park',
 'K Is for Killer (Kinsey Millhone Mysteries (Paperback))',
 'Kaleidoscope',
 'Key of Knowledge (Key Trilogy (Paperback))',
 'Key of Light (Key Trilogy (Paperback))',
 'Key of Valor (Roberts, Nora. Key Trilogy, 3.)',
 'Killjoy',
 'Kiss the Girls',
 'L Is for Lawless',
 'Ladder of Years',
 'Lake Wobegon Days',
 'Lake Wobegon days',
 "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
 'Lasher: Lives of the Mayfair Witches (Lives of the Mayfair Witches)',
 'Last Chance Saloon',
 'Last Man Standing',
 "Left Behind: A Novel of the Earth's Last Days (Left Behind #1)",
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 'Legacy',
 'Let Me Call You Sweetheart',
 'Lies and the Lying Liars Who Tell Them: A Fair and Balanced Look at the Right',
 'Life of Pi',
 "Life's Little Instruction Book (Life's Little Instruction Books (Paperback))",
 'Light a Penny Candle',
 'Lightning',
 'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
 'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
 'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies',
 'Lily White',
 'Little Altars Everywhere: A Novel',
 'Long After Midnight',
 'Lord of the Flies',
 'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
 'Loves Music, Loves to Dance',
 'Lucky',
 'Lucky : A Memoir',
 'Lucky Man: A Memoir',
 'Lucky You',
 'Lucy Sullivan Is Getting Married',
 'M Is for Malice',
 'Macgregor Brides (Macgregors)',
 'Macgregor Grooms (Macgregors)',
 'Malice',
 'Mama Makes Up Her Mind: And Other Dangers of Southern Living',
 'Manhattan Hunt Club',
 'Masquerade',
 'Master of the Game',
 'Matilda',
 'Me Talk Pretty One Day',
 'Melody (Logan)',
 'Memoirs of a Geisha Uk',
 'Memories of Midnight',
 'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
 'Mercy',
 'Message from Nam',
 'Message in a Bottle',
 'Middlesex: A Novel',
 'Midnight',
 'Midnight Bayou',
 'Midnight Whispers (Cutler)',
 'Midnight in the Garden of Good and Evil',
 'Midnight in the Garden of Good and Evil: A Savannah Story',
 'Midwives: A Novel',
 'Mind Prey',
 'Mirror Image',
 'Misery',
 'Miss Julia Speaks Her Mind : A Novel',
 'Mistaken Identity',
 'Mitigating Circumstances',
 'Mixed Blessings',
 'Moment of Truth',
 'Monster : A Novel (Alex Delaware Novels (Paperback))',
 'Montana Sky',
 'Moo',
 'Moonlight Becomes You',
 'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
 'Morning, Noon &amp; Night',
 'Mortal Fear',
 'Mortal Prey',
 'Mother of Pearl',
 'Move to Strike',
 'Moving Target',
 'Mr. Maybe',
 'Mr. Murder',
 'Mr. Perfect',
 'Mrs Dalloway',
 'Mutant Message Down Under',
 'Mutation',
 'My Gal Sunday',
 'My Side of the Mountain',
 'Mystic River',
 'N Is for Noose',
 'Naked',
 'Naked in Death',
 'Needful Things',
 'Nerd in Shining Armor',
 'Neuromancer (Remembering Tomorrow)',
 'Never Change',
 'Neverwhere',
 'Nickel and Dimed: On (Not) Getting By in America',
 'Nicolae: The Rise of Antichrist (Left Behind No. 3)',
 'Night',
 'Night Prey',
 'Night Sins',
 'Night Whispers',
 'Night over Water',
 'Nightmares &amp; Dreamscapes',
 'Nights in Rodanthe',
 'No Greater Love',
 'No One to Trust',
 'No Safe Place',
 'Notes from a Small Island',
 'Nothing Lasts Forever',
 'Now You See Her',
 'Now You See Me',
 'Of Mice and Men (Penguin Great Books of the 20th Century)',
 'Oldest Living Confederate Widow Tells All',
 'On Wings of Eagles',
 'On Writing',
 'On the Street Where You Live',
 'Once in a Lifetime',
 'One Door Away from Heaven',
 "One Flew Over the Cuckoo's Nest",
 'One Hundred Years of Solitude',
 'One True Thing',
 'One for the Money (A Stephanie Plum Novel)',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'Open House',
 "Open House (Oprah's Book Club (Paperback))",
 'Open Season',
 'Oryx and Crake',
 'Out of Sight',
 'Outbreak',
 'Outer Banks',
 'Outlander',
 'Over the Edge',
 'P Is for Peril',
 'P Is for Peril (Kinsey Millhone Mysteries (Hardcover))',
 'Palomino',
 'Paradise',
 'Patriot Games (Jack Ryan Novels)',
 'Pay It Forward',
 'Peace Like a River',
 'Personal Injuries',
 'Pet Sematary',
 'Phantoms',
 'Pigs in Heaven',
 'Plain Truth',
 'Plainsong (Vintage Contemporaries)',
 'Pleading Guilty',
 'Plum Island',
 'Point of Origin',
 'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
 'Pop Goes the Weasel',
 "Pope Joan (Ballantine Reader's Circle)",
 'Portrait in Death',
 'Portrait of a Killer: Jack the Ripper -- Case Closed',
 'Portrait of a Killer: Jack the Ripper-- Case Closed (Berkley True Crime)',
 'Possession : A Romance',
 'Postmortem',
 'Practical Magic',
 'Presumed Innocent',
 "Pretend You Don't See Her",
 'Prey',
 'Prey: A Novel',
 'Pride and Prejudice',
 'Primary Colors: A Novel of Politics',
 'Prime Cut',
 'Prodigal Summer',
 'Prodigal Summer: A Novel',
 'Protect and Defend',
 'Purity in Death',
 'Q Is for Quarry',
 'Quentins',
 'Rage of Angels',
 'Rainbow Six',
 'Range of Motion',
 'Ransom',
 'Reading Lolita in Tehran: A Memoir in Books',
 'Reap the Wind',
 'Rebecca',
 'Red Dragon',
 'Red Storm Rising',
 'Reflections And Dreams',
 'Relic',
 'Remember Me',
 'Remember When',
 'Reunion in Death',
 "Reviving Ophelia: Saving the Selves of Adolescent Girls (Ballantine Reader's Circle)",
 'Riptide',
 'Rising Sun',
 'Rising Tides',
 "River's End",
 'River, Cross My Heart',
 'Roll of Thunder, Hear My Cry',
 'Rose Madder',
 'Roses Are Red (Alex Cross Novels)',
 'Round Ireland With a Fridge',
 'Ruby (Landry)',
 'Rules of Prey',
 'Running with Scissors: A Memoir',
 'Rush Limbaugh Is a Big Fat Idiot: And Other Observations',
 "Ruthless.Com (Tom Clancy's Power Plays (Paperback))",
 'SEEDS OF YESTERDY (Dollanger Saga (Paperback))',
 'SHIPPING NEWS',
 'STONES FROM THE RIVER',
 'Sacred Sins',
 'Safe Harbor',
 'Saint Maybe',
 'Sanctuary',
 'Saving Faith',
 'Scarlet Feather',
 'Scarlett : The Sequel to Margaret Mitchell\'s \\Gone With the Wind\\""',
 "Schindler's List",
 'Sea Glass: A Novel',
 'Sea Swept (Quinn Brothers (Paperback))',
 'Seabiscuit',
 'Seabiscuit: An American Legend',
 'Second Child',
 'Second Nature',
 'Secret History',
 'Secret Prey',
 'Secrets',
 'Secrets of the Morning (Cutler)',
 'Seduction in Death',
 'See How They Run',
 'Seinlanguage',
 'Seize the Night',
 'Sense and Sensibility',
 'September',
 'Servant of the Bones',
 'Seven Habits Of Highly Effective People',
 'Seven Up (A Stephanie Plum Novel)',
 'Seventh Heaven',
 'Shadow Prey',
 'Shadowfires',
 'Shadows',
 'Shattered',
 'She Went All the Way (Avon Light Contemporary Romances)',
 "She's Come Undone (Oprah's Book Club (Paperback))",
 "She's Come Undone (Oprah's Book Club)",
 'Shell Seekers',
 'Shock',
 'Shogun',
 'Shopaholic Takes Manhattan (Summer Display Opportunity)',
 'Shopaholic Ties the Knot',
 'Shopgirl',
 'Sick Puppy',
 'Siddhartha',
 'Silence of the Lambs',
 'Silent Night : A Christmas Suspense Story',
 'Silent Prey',
 'Silent Treatment',
 'Silent Witness',
 'Silver Wedding',
 'Sisterhood of the Traveling Pants',
 'Skeleton Crew',
 'Skipping Christmas',
 'Slammerkin',
 "Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death",
 'Sleep No More',
 'Sleepers',
 'Slow Waltz in Cedar Bend',
 'Small Town Girl',
 'Smart Women',
 "Smilla's Sense of Snow",
 'Snow Falling on Cedars',
 'Sole Survivor',
 "Song of Solomon (Oprah's Book Club (Paperback))",
 "Songs in Ordinary Time (Oprah's Book Club (Paperback))",
 "Sophie's World: A Novel About the History of Philosophy",
 'Soul Harvest: The World Takes Sides (Left Behind No. 4)',
 'Southern Cross',
 'Space',
 'Speaker for the Dead (Ender Wiggins Saga (Paperback))',
 'Sphere',
 'Stalker: A Peter Decker and Rina Lazarus Novel',
 'Standoff',
 'Stanislaski Brothers (Silhouette Promo)',
 'Stanislaski Sisters',
 'Stardust',

In [57]:
import json
with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(list, f, ensure_ascii=False, indent=4)